@layer utilities {
  .carousel-slides-container {
    position: relative;
  }

  .carousel-slides,
  .carousel-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .carousel-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: auto hidden;
    padding-bottom: 4rem;
    width: 100%;
  }
  
  .carousel-slides::-webkit-scrollbar {
    display: none;
  }

  .carousel-slide {
    scroll-snap-align: start;
    flex: 0 0 calc((100% - (var(--carousel-gap, 0px) * var(--carousel-gaps-count, 0))) / var(--slides-per-view, 1));
    min-width: 0;
    box-sizing: border-box;
  }

  .carousel-slide-indicators-nav {
    position: absolute;
    bottom: .25rem;
    left: 6rem;
    right: 6rem;
    z-index: 10;
  }
  
  .carousel-slide-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px 12px;
    padding: 12px;
    line-height: 0;
  }

  .carousel-slide-indicator button {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #dadada;
    transition: background-color 0.2s;
  }
  
  .carousel-slide-indicator button:disabled,
  .carousel-slide-indicator button:hover,
  .carousel-slide-indicator button:focus-visible {
    background-color: var(--text-color);
  }


  .carousel-navigation-buttons {
    position: absolute;
    bottom: .5rem;
    left: var(--spacing-s);
    right: var(--spacing-s);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  .carousel-slides-container.carousel-all-slides-visible .carousel-navigation-buttons,
  .carousel-slides-container.carousel-all-slides-visible .carousel-slide-indicators-nav {
    display: none;
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  .carousel-navigation-buttons button {
    position: relative;
    width: 44px;
    height: 44px;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    background-color: rgb(19 19 19 / 25%);
    transition: background-color 0.2s;
  }
  
  .carousel-navigation-buttons button:hover,
  .carousel .carousel-navigation-buttons button:focus-visible {
    background-color: rgb(19 19 19 / 75%);
  }
  
  .carousel-navigation-buttons button::after {
    display: block;
    content: '';
    border: 2px solid;
    border-bottom: 0;
    border-left: 0;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  
  .carousel-navigation-buttons button.slide-next::after {
    transform: translate(-50%, -50%) rotate(45deg);
    left: calc(50% - 2px);
  }

  @media (width >= 900px) {
    .carousel-navigation-buttons {
      left: 0;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
  
    .carousel-slides-container:not(.carousel-all-slides-visible) .carousel-slides {
      margin-left: 4rem;
      margin-right: 4rem;
      width: calc(100% - 8rem);
    }

    .carousel-slides-container.carousel-all-slides-visible .carousel-slides {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}