@layer blocks {
  .carousel .carousel-slide {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    gap: 16px;
  }

  .carousel .carousel-slide .carousel-slide-image {
    flex: 0 0 auto;
  }
  
  .carousel .carousel-slide .carousel-slide-image picture {
    display: block;
  }
  
  .carousel .carousel-slide .carousel-slide-image picture > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .carousel .carousel-slide .carousel-slide-content {
    flex: 1 1 auto;
    padding: 16px;
  }
  
  @media (width >= 900px) {  
    .carousel .carousel-slide {
      flex-direction: row;
      gap: 32px;
    }
  
    .carousel .carousel-slide .carousel-slide-image {
      flex: 0 0 50%;
    }
  
    .carousel .carousel-slide .carousel-slide-content {
      flex: 1 1 50%;
      padding: 32px;
    }
  }
}