@layer blocks {
  .nav-notification-wrapper {
    background-color: var(--color-gray-light);
  }

  .nav-notification {
    margin: 0 auto;
    padding: var(--spacing-xs) var(--spacing-lg);
    font-size: 0.75rem;
    line-height: 1.4;
  }

  .nav-notification p {
    margin: 0;
    line-height: 1;
  }

  .nav-notification a {
    text-decoration: underline;
    color: var(--color-action-blue);
  }

  .nav-notification a:hover {
    text-decoration: none;
  }

  @media (width >= 900px) {
    .nav-notification {
      width: 100%;
      max-width: calc(var(--max-content-width) + (var(--default-inline-spacing) * 2));
      margin: 0 auto;
      padding: var(--spacing-md) var(--default-inline-spacing);
      font-size: 0.85rem;
    }
  }
}

