/* add global styles that can be loaded post LCP here */
.da-preview .block.authoring-error {
  position: relative;
}

.da-preview .block.authoring-error::after {
  position: absolute;
  inset: 0;
  z-index: 9999;
  content: attr(data-author-error);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 2px solid #f00;
}